<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="purchaseOrderDetails">
      <h2 data-cy="purchaseOrderDetailsDetailsHeading">
        <span jhiTranslate="inventoryManagmentSystemApp.purchaseOrderDetails.detail.title">Purchase Order Details</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ purchaseOrderDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="inventoryManagmentSystemApp.purchaseOrderDetails.qtyordered">Qtyordered</span></dt>
        <dd>
          <span>{{ purchaseOrderDetails.qtyordered }}</span>
        </dd>
        <dt><span jhiTranslate="inventoryManagmentSystemApp.purchaseOrderDetails.gstTaxPercentage">Gst Tax Percentage</span></dt>
        <dd>
          <span>{{ purchaseOrderDetails.gstTaxPercentage }}</span>
        </dd>
        <dt><span jhiTranslate="inventoryManagmentSystemApp.purchaseOrderDetails.pricePerUnit">Price Per Unit</span></dt>
        <dd>
          <span>{{ purchaseOrderDetails.pricePerUnit }}</span>
        </dd>
        <dt><span jhiTranslate="inventoryManagmentSystemApp.purchaseOrderDetails.totalPrice">Total Price</span></dt>
        <dd>
          <span>{{ purchaseOrderDetails.totalPrice }}</span>
        </dd>
        <dt><span jhiTranslate="inventoryManagmentSystemApp.purchaseOrderDetails.discount">Discount</span></dt>
        <dd>
          <span>{{ purchaseOrderDetails.discount }}</span>
        </dd>
        <dt><span jhiTranslate="inventoryManagmentSystemApp.purchaseOrderDetails.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ purchaseOrderDetails.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="inventoryManagmentSystemApp.purchaseOrderDetails.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ purchaseOrderDetails.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="inventoryManagmentSystemApp.purchaseOrderDetails.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ purchaseOrderDetails.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="inventoryManagmentSystemApp.purchaseOrderDetails.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ purchaseOrderDetails.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="inventoryManagmentSystemApp.purchaseOrderDetails.purchaseOrder">Purchase Order</span></dt>
        <dd>
          <div *ngIf="purchaseOrderDetails.purchaseOrder">
            <a [routerLink]="['/purchase-order', purchaseOrderDetails.purchaseOrder?.id, 'view']">{{
              purchaseOrderDetails.purchaseOrder?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/purchase-order-details', purchaseOrderDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
